.main{
  /* display: flex;
  flex-basis: calc(100%/3);
  flex-direction: column;
  align-content: center;
  margin-top: 10px;
  margin-left: 35px;
  height: 100vh; */
  /* flex:5.5 */
  width: 100%;
}
