/* .postCenter1{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    color: black;
    margin-right: 50px;
}

.iconLikeTrind{
    color: #007bff;
} */



.friends .friend{
    background-color:#fff;
   border-radius:2%;
   /* padding:10%; */
   width:100%;
}

.friends .text{
       color: #999;
 margin-bottom: 20px;
 width: 100%;
 text-align: justify;
}

.friends .friend .info{

 margin-bottom:20px;
   display:flex;
   align-items:center;
   column-gap:1rem;
   width:100%;
    
}