.Regbutton{
    background: #007bff;;
    padding: 8px 10px;
    border-color: #007bff;;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    border: 1px solid #007bff;;
    border-radius: 44px;
    width: 100%;
    height: 56px;
    cursor: pointer;
  }

  .Regbutton:hover {
    background: transparent;
    border:3px solid #007bff;
    border-radius: 30px;
    padding:14px 14px;
    color:black;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }

  .mainSignUp{
    display: flex;
  }
  
  .logoName {
    font-family: "Berkshire Swash", cursive;
    font-size: 60px;
    color: #007bff;
    margin-bottom: 0;
  }
  
  .mainLogin p:not(.logoName) {
    font-size: 20px;
    color: gray;
  }
  
  .divLogoLogin {
    margin-left: 10%;
    margin-top: 5%;
  }