.Main-Edit-Profile {
  margin-top: 50px;
  margin-bottom: 25px;
}

.Main-Edit-Profile h4 {
  color: #5da5f3;
}

.Main-Edit-Profile h6 {
  border-bottom: 3px solid #5da5f3;
  color: #666;
  display: inline-block;
  margin-bottom: 25px;
}

.change_info {
  text-align: center;
  padding: 7px 50px;
  background-color: #5da5f3;
  color: #fff;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}



.Main-Edit-Profile img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 150px;
  height: 150px;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}