/* .colreverse {
  display: flex;
  flex-direction: column-reverse;
}
.post {
  width: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 20px;
  color: #626262;
  margin-top: 15px;
  border: 1px solid #ccc;

}
.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
  color: rgb(0, 0, 0);
}

.postDate {
  font-size: 12px;
  
}

.deleteIcon {
  color: red;
}

.postCenter {
  margin: 20px 0;
  color: black;
}

.postImg {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.postLikeIcon {
  margin-right: 5px;
  cursor: pointer;
  color: #007bff;
}


.postLikeCounter {
  font-size: 15px;
  cursor: pointer;
}
.postCommentIcom {
  cursor: pointer;
  
}



  */

  .feeds{
  display: flex;

    flex-direction: column-reverse;
  }
 .feeds .feed{
  background-color:#fff;
  border-radius:3%;
  padding:3%;
  margin:1rem 0;
  font-size:0.85rem;
  line-height:1.5;
  
}

 .feeds .head{
  display:flex;
  
  justify-content:space-between;
}
 .feeds .feed .user{
  display:flex;
  gap:1rem;
}
 .feeds .feed .photo{
  border-radius:2%;
  overflow:hidden;
  margin:0.7rem 0;
  /* height:420px */
}
 .feeds .feed .action{
  display:flex;
  align-items:center;
  justify-content:space-between;  
  font-size:1.4rem;
  margin:0.6rem
}

Link:visited{
  color: gray;
}
.info h3{
  
}