.leftSideBar {
  /* flex-basis: calc(100%/3);
  height: 400px;
  background-color: #fff;
  border-radius: 6px;
  margin: 10px;
  border: 1px solid #ccc; */
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}

ul {
  margin-left: 14px;
  padding: 0px;
}
.img_name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img_name img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.listIcon {
  list-style: none;
  margin-top: 19px;
}
.listIcon li {
  margin-bottom: 20px;
}

.linkLeftSideBar {
  text-decoration: none;
  color: #000000;
}
.linkLeftSideBar:visited {
  color: #000000;
}

.linkLeftSideBar:active {
  color: #000000;
}
.linkLeftSideBar:hover {
  color: #000000;
}
