/* .leftSideBar {
  flex-basis: calc(100%/3);
  height: 400px;
  background-color: #fff;
  border-radius: 6px;
  margin: 10px;
  border: 1px solid #ccc;
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}

ul {
  margin-left: 14px;
  padding: 0px;
}
.img_name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img_name img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.listIcon {
  list-style: none;
  margin-top: 19px;
}
.listIcon li {
  margin-bottom: 20px;
}

.linkLeftSideBar {
  text-decoration: none;
  color: #000000;
}
.linkLeftSideBar:visited {
  color: #000000;
}

.linkLeftSideBar:active {
  color: #000000;
}
.linkLeftSideBar:hover {
  color: #000000;
} */



      
.left {
  position:sticky;
  top:80px;
  
 height:max-content;

}

.pro{
 background-color:#fff;
 border-radius:3%;
 padding:10%;
 display:flex;
 align-items:center;
 column-gap:1rem;
 width:100%;
  
}

.left .side-bar{
  border-radius:2%;
  padding:5%;
  margin-top:1rem;
  background-color:#fff;
}

.left .side-bar .menue-item{
  display:flex;
  align-items:center;
  height:3rem;
  cursor:pointer;
  transition: all 300ms ease;
  position:relative;

}
.left .side-bar .menue-item:hover{
  background-color: #efefef;
}

.left .side-bar .menue-item i{
  font-size:1.4rem;
  color: #999;
  position:relative;
  margin-left:1rem;
}
.left .side-bar  h3{
  margin-left:1rem;
  font-size:1rem; 
}

.left .btn2{
     margin-top:1rem;
     
     
 
}
.left .btn2 button{
  background-color:purple;
  border-radius:2rem;
  color:#fff;
  /* font-weight:600; */
  font-size:1rem;
  padding:1rem 0; 
  cursor:pointer;
  transition: all 300ms ease;
  width:100%
}