
 .stories{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:12rem;
    gap:0.5rem;
   width:100%;
    box-sizing: border-box;
   

}
 .stories .story{
    padding:5%;
    border-radius:5%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    color:white;
    font-size:0.75rem;
    width:100%;
   
    position:relative;
    overflow:hidden;
    height:12rem;
    width:100px;

}
 .stories .story::before{
    content:"";
    display:block;
    width:100%;
    height:5rem;
    background:black;
    position:absolute;
    bottom:0;
   background:linear-gradient(transparent,rgba(0,0,0,0.75))

}
 .stories .story .name{
    z-index:2; 
}
 .stories .story .photo .profile{
width:3rem;
height:3rem;
align-self:start;
border:3px solid purple;
}


 .stories .story:nth-child(1){

    background:url('https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80') no-repeat center center/cover;
}
 .stories .story:nth-child(2){

    background:url('https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80') no-repeat center center/cover;
}
 .stories .story:nth-child(3){

    background:url('https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80') no-repeat center center/cover;
}
 .stories .story:nth-child(4){

    background:url('https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80') no-repeat center center/cover;
}
 .stories .story:nth-child(5){

    background:url('https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80') no-repeat center center/cover;
}
