.searchContainer {
  display: flex;
  flex-wrap: wrap;
  
  
 
  /* height: max-content; */
}

.searchContainer .searchedUser {
  display: flex;
  align-items: center;
  
}

.searchContainer .searchedUser img {
  border-radius: 10rem;
}

.searchContainer .searchedUser p{
    font-size: 24px;
    margin-bottom: 8px;
}