/* .cont{
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.App {
  display: flex;
  width: 100%;
   background-color: #f0f0f7 !IMPORTANT;
   font-family: 'Merienda One', cursive;
   font-family: 'Bungee Inline', cursive;
   font-size: 20px;
  padding-top: 20px;
   height: max-content;
}

@media (min-width:500px){
  .rightSideBar{
    display: none;
  }
}
@media (max-width:501px){
  .rightSideBar{
    display: flex;
  }
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  border:none
  
}
:root{
    --color:#333;
}
body{
    background-color: #efefef;
    color:var(--color)
}

.container{
  width:80%;
  margin: 0 auto;
}
.App{
  position:relative;
  top:5.5rem;

}
.App .container{
  display:grid;
  grid-template-columns:17vw auto 20vw;
  column-gap:2rem;
  position:relative;
}
@media screen and (max-width:1200px){
  .container{
      width:95%
  }
  .App.container{
      grid-template-columns:5rem auto 30vw;
      gap:1rem;
  }
  .left{
      width:5rem;
      z-index:5
  }
  .pro{
      display:none
  }
  .side-bar h3{
      display:none
  }
  .left .btn2 button{
      display:none   
  }
}

@media screen and (max-width:992px){
  nav .search-box{
      display:none
  }
  .App .container{
      grid-template-columns:auto 5rem ;
  
  }
  .App .container .left{
      grid-columns:3/4 ;
      position:fixed;
      bottom:0;
      right:0;top:70px;
      width:50px;
      height:max-content;
    
  
  }
  .App .container .left .menue-item i{  
      top:10px;
     bottom:20px;
    right:10px;
    height:100%

  }
  .App .container .middle{
      grid-columns:1/3 ;
      width:80%
    
      
  
  }
  .App .container .right{
      display:none
      
  
  }
}