/* body{
    margin: 0;
    padding: 0;
  }
.headercontaner{
    height: 50px;
    width: 100%;
    background-color: #5da5f3;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;

}

.leftHeader{
    flex:2
}
.logo{
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    margin-left: 12px;
    font-family: "Berkshire Swash", cursive;
}
.centerHeader{
    flex:5
}
.seachArea{
    width: 92%;
    height: 35px;
    background-color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin-left: 0%;
}
.seachArea input{
    border: none;
    width: 55%;
}
.searchIcon{
    font-size: 35px !important;
    margin-left: 5px;
    color: #007bff;
}
.seachArea input:focus{
    outline: none;
}
.rightHeader{
    flex:2; 
}

.rightHeader img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    float: right;
    object-fit: cover;
    cursor: pointer;
    margin-right: 12px;
    margin-top: 5px;
}
.dropdown-content {
    opacity: 0;
    position: absolute;
     top: 50px; 
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 200px;
    z-index: 1;
    font-weight: bold;
  }
.dropdown-content .logout {
    float: right;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    transition: opacity 0.1s 2s;
    opacity: 1;
  }
  .rightHeader:hover .dropdown-content {
    transition: opacity 2s;
    opacity: 1;
    
  }
   */

   

  .container{
    width:80%;
    margin: 0 auto;
}

.profile{
    width: 3rem;
    height: 50px;
    border-radius:50%;
    overflow:hidden;
}
.btn button{
    width: 100px;
    height:40px;
    padding:2%; 
    background-color:purple;
    border-radius:2rem;
    color:#fff;
    cursor:pointer;
    transition: all 300ms ease;
}

nav{
    width:100%;
    background-color:#fff;
    padding:0.7rem 0;
    position:fixed;
    top:0;
    z-index:10
}
nav .container{
    display:flex;
    align-items:center;
    justify-content:space-between;


}
nav .search-box{
    background-color: #efefef;
    border-radius:2rem;
    padding:0.6rem 1rem;
    display: flex;
}

nav .search-box input[type="search"] {
    background-color:transparent;
    width:30vw;
    font-size:0.9rem;
    color:var(--color);
    outline: none;
}
.btn{
    display:flex;
    align-items:center;
    gap:2rem;
}
nav .search-box input[type="search"]::placeholder{
    margin-bottom: 30px;
}