.post_area {
  width: 90%;
  background-color: #fff;
  height: 200;
  border-radius: 6px;
  padding: 20px;
  color: #626262;
  border: 1px solid #ccc;
}

.user_Info_PA {
  display: flex;
  align-items: center;
}

.user_Info_PA img {
  width: 32px;
  border-radius: 50%;
  height: 32px;
  object-fit: cover;
}
.user_Info_PA small {
  font-size: 12px;
}

.post_input {
  display: flex;
  padding-left: 55px;
  padding-top: 25px;
  min-height: 80px;
}

.post_input textarea {
  margin-top: 30px;
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  resize: none;
  background: transparent;
  color: black;
  overflow: hidden;
}
#create_post {
  color: #1876f2;
  font-size: 25px;
  cursor: pointer;
  float: right;
  border: none;
  background: transparent;
}

 #post_user {
   margin-left: 10px;
 }