/* .post_area {
  width: 90%;
  background-color: #fff;
  height: 200;
  border-radius: 6px;
  padding: 20px;
  color: #626262;
  border: 1px solid #ccc;
}

.user_Info_PA {
  display: flex;
  align-items: center;
}

.user_Info_PA img {
  width: 32px;
  border-radius: 50%;
  height: 32px;
  object-fit: cover;
}
.user_Info_PA small {
  font-size: 12px;
}

.post_input {
  display: flex;
  padding-left: 55px;
  padding-top: 25px;
  min-height: 80px;
}

.post_input textarea {
  margin-top: 30px;
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  resize: none;
  background: transparent;
  color: black;
  overflow: hidden;
}
#create_post {
  color: #1876f2;
  font-size: 25px;
  cursor: pointer;
  float: right;
  border: none;
  background: transparent;
}

 #post_user {
   margin-left: 10px;
 } */

 
 .create-post{
  width:100%;
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-top:1rem;
  padding:1.0rem;
  background-color:#fff;
  border-radius:20px;
}

 .create-post input[type="text"]{
  width:100%;
  padding:1rem;
  background:transparent; 
  outline: none;
}

 .create-post .btn3{

  width:130px;
  height:40px;
  padding:2% 4%; 
  background-color:purple;
  border-radius:2rem;
  color:#fff;
  cursor:pointer;
}

 .create-post  .profile1{
  width:3rem;
  height:2.5rem;
  border-radius:50%;

}
