.Album {
    width: 100%;
    min-height: 50vh;
    display: flex;
}
.img{
    display:block;
    cursor: pointer;
}
.container{
    margin: auto;
    object-fit: contain;
}

.container .selected{
    margin: 0 auto;
    border: 4px solid blue;
    
}

.container .imgContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-content:stretch;
}

.container .imgContainer img {
    margin: 5px 0 ;
}