.Album {
    display: flex;
    flex-direction: column;
}
.Album img{
    cursor: pointer;
}

.test{
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}
.container .selected{
    width: 80%;
    border: 2px solid #ccc;

}

.container .imgContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}

.imgu {
    margin: 0px 25px 0px 0px;
}

.Child{
    opacity: 0.9;
    display: flex;
    justify-content: center;
}

/* .perant:hover .Child{
    display: block;
    
} */